@use './colors.scss' as COLORS;

* {
    margin: 0;
    padding: 0;
    line-height: 20px;
    list-style-type: none;
    text-decoration: none;
    color: COLORS.$dark-gray;
}

h1, h2, h3, h4, h5, h6 {
    color: COLORS.$light-blue;
}

:global(#ROOT) {
    height: 100vh;
}
