$size-8: 0.5em; // 8px
$size-9: 0.5625em; // 9px
$size-10: 0.625em; // 10px
$size-11: 0.6875em; // 11px
$size-12: 0.75em; // 12px
$size-13: 0.8125em; // 13px
$size-14: 0.875em; // 14px
$size-15: 0.9375em; // 15px
$size-16: 1em; // 16px
$size-18: 1.125em; // 18px
$size-20: 1.25em; // 20px
$size-22: 1.375em; // 22px
$size-24: 1.5em; // 24px
$size-26: 1.625em; // 26px
$size-28: 1.75em; // 28px
$size-30: 1.875em; // 30px
$size-32: 2em; // 32px
$size-36: 2.25em; // 36px
$size-40: 2.5em; // 40px
$size-44: 2.75em; // 44px
$size-48: 3em; // 48px
$size-52: 3.25em; // 52px
$size-56: 3.5em; // 56px
$size-60: 3.75em; // 60px
$size-64: 4em; // 64px
